# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db